# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/TestPinb/x64/Debug
/.vs/TestPinb/v15/ipch/AutoPCH/TESTPINB-91c52378
/.vs/TestPinb/v15
/.vs/TestPinb/v15/ipch/AutoPCH/TESTPINB-91c52378/UTILS-906f9e81/UTILS.ipch
x64/Debug/lnk{E27513BD-0240-449C-9B64-2E8E8BE5288C}.tmp
x64/Debug/TestPinb.ilk
x64/Debug/TestPinb.pdb
TestPinb/TestPinb.layout
TestPinb/TestPinb.cbp
TestPinb/TestPinb.cscope_file_list
*.db
*.ipch
*.opendb
*.suo
